+b.FOOTER.footer
  .container
    +e.top
      +e.col
        +e.P.title Products
        +e.UL.list
          li
            a(href="#") Home           
          li
            a(href="#") Cyptocurrencies           
          li
            a(href="#") Exchange rates           
          li
            a(href="#") News           
          li
            a(href="#") Support           
          li
            a(href="#") About us           
          li
            a(href="#") FAQ
      +e.col
        +e.P.title Products
        +e.UL.list
          li
            a(href="#") Home           
          li
            a(href="#") Cyptocurrencies           
          li
            a(href="#") Exchange rates           
          li
            a(href="#") News           
          li
            a(href="#") Support           
          li
            a(href="#") About us           
          li
            a(href="#") FAQ
      +e.col
        +e.P.title Service
        +e.UL.list
          li
            a(href="#") Home           
          li
            a(href="#") Cyptocurrencies           
          li
            a(href="#") Exchange rates           
          li
            a(href="#") News           
          li
            a(href="#") Support           
          li
            a(href="#") About us           
          li
            a(href="#") FAQ
      +e.col
        +e.P.title Support
        +e.UL.list
          li
            a(href="#") Home           
          li
            a(href="#") Cyptocurrencies           
          li
            a(href="#") Exchange rates           
          li
            a(href="#") News           
          li
            a(href="#") Support           
          li
            a(href="#") About us           
          li
            a(href="#") FAQ
      +e.col(class="--community")
        +e.P.title Community
        +e.UL.social
          li
            a(href="#" target="_blank")
              img(src="assets/icons/telegram.svg", alt="")
          li
            a(href="#" target="_blank")
              img(src="assets/icons/youtube.svg", alt="")
          li
            a(href="#" target="_blank")
              img(src="assets/icons/facebook.svg", alt="")
          li
            a(href="#" target="_blank")
              img(src="assets/icons/vk.svg", alt="")
          li
            a(href="#" target="_blank")
              img(src="assets/icons/instagram.svg", alt="")
    +e.bottom
      +e.A(href="/", class="logo")
        img(src="assets/images/logo-gray.png", alt="Coin Galaxy")
      +e.P.copyright © 2016-2019, Coin Galaxy.com
      +e.UL.links
        +e.LI
          a(href="#") Private policy
        +e.LI
          a(href="#") Support