+b.NAV.nav
    ul
        li(class=(pageClass === "home" ? " active" : undefined))
            a(href="#") Home
        li(class=(pageClass === "cryptocurrencies" ? " active" : undefined))
            a(href="#") Cryptocurrencies
        li(class=(pageClass === "rates" ? " active" : undefined))
            a(href="#") Exchange rates
        li(class=(pageClass === "news" ? " active" : undefined))
            a(href="#") News
        li(class=(pageClass === "support" ? " active" : undefined))
            a(href="#") Support
        li(class=(pageClass === "about" ? " active" : undefined))
            a(href="#") About us
        li(class=(pageClass === "faq" ? " active" : undefined))
            a(href="#") FAQ