+b.NAV.nav
    ul
        li(class=(pageClass === "home" ? " active" : undefined))
            a(href="/") Home
        li(class=(pageClass === "cryptocurrencies" ? " active" : undefined))
            a(href="cryptocurrencies.html") Cryptocurrencies
        li(class=(pageClass === "rates" ? " active" : undefined))
            a(href="rates.html") Exchange rates
        li(class=(pageClass === "news" ? " active" : undefined))
            a(href="news.html") News
        li(class=(pageClass === "support" ? " active" : undefined))
            a(href="support.html") Support
        li(class=(pageClass === "about" ? " active" : undefined))
            a(href="about.html") About us
        li(class=(pageClass === "faq" ? " active" : undefined))
            a(href="faq.html") FAQ