+b.SECTION.start
    .container
        +b.H3.s-title(class="--lines")
            span Start trading now
        +e.buttons
            +btn-link('signup.html', 'Trade now', '--primary')
            +btn-link('signup.html', 'Register', '--warning')