+b.SECTION.trading-info.l-section
    .container
        +e.row
            div
                p Trading <strong>BTC/USD</strong>
            div
                .select-wrapper
                    select
                        option Choose another
            div
                p
                    strong Last: 9 535.16289 USD
            div    
                p
                    strong 24 High: 9 807.99999 USD
            div    
                p
                    strong 24 Low: 9 451 USD
            div
                p
                    strong 24 Volume: 1 520.44636945 BTC