+b.SECTION.trading-info.l-section
    .container
        +e.row
            p Trading <strong>BTC/USD</strong>
            .select-wrapper
                select
                    option Choose another
            p
                strong Last: 9 535.16289 USD
            p
                strong 24 High: 9 807.99999 USD
            p
                strong 24 Low: 9 451 USD
            p
                strong 24 Volume: 1 520.44636945 BTC