extends ../layout/main

block variables
  - var title = 'COINGALAXY';
  - var description = 'Coingalaxy';
  - var pageClass = 'home';

block content

  +b.SECTION.intro
    include ../includes/modules/header
    +header()
    .container
      +b.intro-slider
        +e.content
          +e.s-text
            +e.P.accent-title within 3 steps
            
            +e.titles
              // 1
              +e.H2.title(data-slide="0")
                span Open a Trade Account and 
                strong start trade now!
              // 2
              +e.H2.title(data-slide="1")
                span Add wallets
                strong start trade now!
              // 3
              +e.H2.title(data-slide="2")
                span Trade!
                strong start trade now!

          +b.intro-steps
            +e.prev
            ul
              li.active
                +e.P.count 1
                +e.P.name Open account
              li
                +e.P.count 2
                +e.P.name Add wallets
              li
                +e.P.count 3
                +e.P.name Trade!
            +e.next
        +e.s-image
          img(src="assets/images/1-open.png", alt="" data-slide="0")
          img(src="assets/images/1-open.png", alt="" data-slide="1")
          img(src="assets/images/1-open.png", alt="" data-slide="2")
    
    +b.ticker
      +e.item
        p AUD/USD <span>1,1%</span>
      +e.item(class="--red")
        p EUR/GBP <span>-0,7%</span>
      +e.item
        p EUR/USD <span>0,9%
      +e.item(class="--red")
        p GBP/USD <span>-0,81%</span>
      +e.item(class="--red")
        p USD/CAD <span>-0,81%</span>
      +e.item(class="--red")
        p USD/CHF <span>-0,81%</span>
      +e.item(class="--red")
        p GOLD <span>-0,81%</span>
      +e.item
        p BTC <span>0,81%</span>
        
  +b.SECTION.events
    .container
      ul
        li
          +b.A(href="#").event
            +e.date
              big 21
              span Oct. 2019
            +e.P.title Stealth Coming Soon
        li
          +b.A(href="#").event
            +e.date
              big 21
              span Oct. 2019
            +e.P.title Delisting REP & WTC
        li
          +b.A(href="#").event
            +e.date
              big 21
              span Oct. 2019
            +e.P.title Stealth Coming Soon

  +b.SECTION.course-module
    .container

      +e.block
        +b.s-arrow(class="--prev")
        .js-course-slider
          +b.course-item
            +e.icon
              img(src="assets/images/currency/btc.png", alt="")
            +e.content
              +e.top
                +e.P.title BTC/USD
                +e.P.status(class="--green") +2.41%
              +e.desc
                p 24H volume 0.00000000 BTC 
          +b.course-item
            +e.icon
              img(src="assets/images/currency/ltc.png", alt="")
            +e.content
              +e.top
                +e.P.title LTC/BTC
                +e.P.status(class="--green") +2.41%
              +e.desc
                p 24H volume 0.00000000 BTC 
          +b.course-item
            +e.icon
              img(src="assets/images/currency/eth.png", alt="")
            +e.content
              +e.top
                +e.P.title ETH/USD
                +e.P.status(class="--green") +2.41%
              +e.desc
                p 24H volume 0.00000000 BTC 
          +b.course-item
            +e.icon
              img(src="assets/images/currency/wtp.png", alt="")
            +e.content
              +e.top
                +e.P.title WTP/USD
                +e.P.status(class="--red") -2.41%
              +e.desc
                p 24H volume 0.00000000 BTC 
          +b.course-item
            +e.icon
              img(src="assets/images/currency/wtp.png", alt="")
            +e.content
              +e.top
                +e.P.title WTP/USD
                +e.P.status(class="--red") -2.41%
              +e.desc
                p 24H volume 0.00000000 BTC 
        +b.s-arrow(class="--next")
  +b.SECTION.trading
    .container
      +b.filter
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="BTC", checked)
          span BTC
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="ETH")
          span ETH
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="LTC")
          span LTC
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="USD")
          span USD
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="RUR")
          span RUR
        +b.LABEL.radio-button
          input(type="radio", name="trading-filter", value="Other")
          span Other
      
      +e.table
        table.table.js-datatable-trading
          thead
            tr
              th 
                span Pair
              th 
                span Volume (24h)
              th 
                span Last price
              th 
                span Change (24h)
              th 
                span High (24h)
              th 
                span Low (24h)
              th 
                span Price Graph (7d)
              th 
                span Trading Page
          tbody
            mixin tr()
              tr
                td 
                  +b.pair
                    +e.icon
                      img(src="assets/images/currency/iex.png", alt="")
                    strong IEX/BTC
                td 0.02 BTC
                td 8 495.90899 USD
                td 
                  +b.P.status(class="--orange") -1.09%
                td 0.0000011 BTC
                td 0.0000011 BTC
                td
                  +b.graph
                    img(src="assets/images/graph.jpg", alt="")
                td
                  +b.A(href="#", class="btn --warning --i-next")
                    span Trade
              tr
                td 
                  +b.pair
                    +e.icon
                      img(src="assets/images/currency/btc1.png", alt="")
                    strong BTC/USD
                td 1 909.41 BTC
                td 8 495.90899 USD
                td 
                  +b.P.status(class="--green") +4.09%
                td 8 700 USD
                td 8 700 USD
                td
                  +b.graph
                    img(src="assets/images/graph.jpg", alt="")
                td
                  +b.A(href="#", class="btn --warning --i-next")
                    span Trade
            +tr()
            +tr()
            +tr()
            +tr()
            +tr()
            +tr()
      +e.buttons
        +btn-link('#', 'Show more', '--primary')

  +b.SECTION.s-icons
    .container
      +e.row
          +e.col
              +b.earn-item
                  +e.icon
                      img(src="assets/icons/shield.svg", alt="")
                  +e.P.title Safe and secure
                  +e.desc
                      p 2-factor authentication, advanced encryption technology, cold storage – we give you peace of mind when it comes to security.
          +e.col
              +b.earn-item
                  +e.icon
                      img(src="assets/icons/clock.svg", alt="")
                  +e.P.title Fast, responsive and feature-packed
                  +e.desc
                      p Our terminal is built on the best technology and lets you trade effortlessly any of the HitBTC currency pairs. 
          +e.col
              +b.earn-item
                  +e.icon
                      img(src="assets/icons/gear.svg", alt="")
                  +e.P.title Robot-friendly API
                  +e.desc
                      p Make the most out of your trading bot with our leading API and its low latency data and execution feeds.
                      

  +b.SECTION.how-work
    .container
      +e.row
          +e.image
            img(src="assets/images/notebook.jpg", alt="")
          +e.content
            +b.H3.s-title How it works?
            .typography
              p
                strong Our terminal is built on the best technology and lets you trade effortlessly any of the HitBTC currency pairs. 
              p Our terminal is built on the best technology and lets you trade effortlessly any of the HitBTC currency pairs. Make the most out of your trading bot with our leading API and its low latency data and execution feeds.

            ul.warning-list 
              li 
                a(href="faq.html") Visit FAQ
              li 
                a(href="contacts.html") Contact our multilingual support
              li 
                a(href="news.html") Check our blog for news

  include ../includes/modules/start

block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")