extends ../layout/main

block variables
    - var title = 'COINGALAXY';
    - var description = 'Coingalaxy - Lk1';
    - var pageClass = 'lk1';
    - var pageParent = 'lk1';
block styles
    link(rel="stylesheet" href="assets/css/lk.css")
block content
    include ../includes/modules/header-lk
    +header-lk()
    
    +b.SECTION.l-section
        .container
            +b.b-top
                +e.H1.title Account summary

block script
    script(src="assets/js/vendors.js")
    script(src="assets/js/lk.js")