extends ../layout/main

block variables
    - var title = 'COINGALAXY';
    - var description = 'Coingalaxy - Lk4';
    - var pageClass = 'lk4';
    - var pageParent = 'lk6';
block styles
    link(rel="stylesheet" href="assets/css/lk.css")
block content
    include ../includes/modules/header-lk
    +header-lk()
    include ../includes/modules/lk-6-podmenu
    +b.SECTION.l-section
        .container
            +b.b-top
                +e.H1.title Referral Program
            +b.l-form
                +e.H3.title Your referral link
                +e.desc
                    p Do NOT register another account using your own referral link. This will lead to a loss of both accounts with all the funds, according to the User agreement. If you need a second account, contact support via tickets and explain, why do you need one. Usually we do allow multiple accounts in case you have reasonable grounds.
                .js-copy
                    +b.field
                        label.color-warning Your referral link
                        input(type="text" value="http://localhost:8080/lk4.html" class="js-copy-input")
                    +btn('COPY', '--warning --color-dark --small js-copy-button')
    
    +b.SECTION.l-section
        .container
            +b.b-top
                +e.H1.title Referrals list
                +b.filter
                    +b.LABEL.radio-button
                        input(type="radio", name="trading-filter", value="BTC")
                        span BTC
                    +b.LABEL.radio-button
                        input(type="radio", name="trading-filter", value="USD")
                        span USD
                    +b.LABEL.radio-button
                        input(type="radio", name="trading-filter", value="ALL", checked)
                        span ALL
            +b.datatable-module(class="--lk")
                table.table.js-datatable.responsive(data-page-size="8")
                    thead
                        tr
                            th 
                                span Time
                            th 
                                span Type
                            th 
                                span Pair
                            th 
                                span Amount
                            th 
                                span Price
                            th 
                                span Value
                            th 
                                span Status
                    tbody
                        mixin tr2()
                            tr
                                td 01/11/2019
                                td Type
                                td USD/BTC
                                td 121.32 USD
                                td 121.32 USD
                                td 121.32 USD
                                td
                                    +b.status(class="--green") Approved
                            tr
                                td 01/11/2019
                                td Type
                                td USD/BTC
                                td 121.32 USD
                                td 121.32 USD
                                td 121.32 USD
                                td
                                    +b.status(class="--red") Delay
                            
                           
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
                        +tr2()
    
    
    
block script
    script(src="assets/js/vendors.js")
    script(src="assets/js/lk.js")