extends ../layout/main

block variables
    - var title = 'COINGALAXY';
    - var description = 'Coingalaxy - Lk5';
    - var pageClass = 'lk5';
    - var pageParent = 'lk6';
block styles
    link(rel="stylesheet" href="assets/css/lk.css")
block content
    include ../includes/modules/header-lk
    +header-lk()
    include ../includes/modules/lk-6-podmenu
    +b.SECTION.l-section
        .container
            +b.b-top
                +e.H1.title History <span class="color-light">Period from 29.10.2019 to 05.11.2019 </span>
                +b.filter
                    +b.SELECT
                        option All types
                    +b.SELECT
                        option Last 30 days
                    +b.SELECT
                        option All currencies
            +b.datatable-module(class="--lk")
                table.table.js-datatable.responsive(data-page-size="19")
                    thead
                        tr
                            th 
                                span Time
                            th 
                                span Type
                            th 
                                span Credit
                            th 
                                span Debit
                            th 
                                span Fee
                            th 
                                span Correspondent
                            th 
                                span Status
                    tbody
                        mixin tr()
                            tr
                                td 01/11/2019
                                td Type
                                td 0.123 BTC 
                                td 121.32 USD
                                td 1.32 USD
                                td Name
                                td 
                                    +b.status(class="--green") Approved
                           
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()
                        +tr()

block script
    script(src="assets/js/vendors.js")
    script(src="assets/js/lk.js")