extends ../layout/main

block variables
  - var title = 'COINGALAXY';
  - var description = 'Coingalaxy News';
  - var pageClass = 'news';

block content
  include ../includes/modules/header
  +header()
  +b.SECTION.breadcrumbs
    .container
      a(href="/") Home 
      span / 
      span.color-warning News

  +b.SECTION.page-title-section
    .container
      +b.H1.page-title Coingalaxy <span class="color-warning">News</span>
  
  +b.SECTION.news-intro
    .container
      +e.wrap
        +e.bottom
          +e.H3.title What is a slot in each plan?
          +e.P.date 01/03/19
        img(src="assets/images/test-images/1.jpg", alt="")

  +b.SECTION.content
    .container
      .typography
        p
          big
            strong Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. 
        p Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. 
        p Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. 
        p Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. 
        p Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. Each plan in our club has a certain number of allocated slots. Slots are effectively the number of funding spots that a user is allowed to fill. You can fund your account to start making profit with the club, but if you don’t have a free slot you have to wait till one of your existing plan expires. This rule has been placed so we can effectively manage users portfolio using our strategy. 
  
  include ../includes/modules/start

block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")