// Font
$mainFont: "SF UI Display",
Helvetica,
Arial,
sans-serif;

$accentFont: "Acrom",
Arial,
sans-serif;

// Size
$mainFontColor: #000;
$mainFontSize: 16px;
$mainFontWeight: 300;
$mainLineHeight: 1.8;

$desktop-xl: 1600px;
$desktop-lg: 1366px;
$desktop: 1260px;
$tablet: 1024px;
$tablet-sm: 768px;
$phone: 600px;
$phone-xs: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #052e5c;
$success-color: #009e13;
$danger-color: #b11a36;
$warning-color: #f2930b;
$light-color: rgba(#001326, 0.6);
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #001326;
$neutral-regular: #9dacbe;
$neutral-secondary: #e0e3e8;
$neutral-placeholder: #f0f1f6;

// Border Color
$border-base: #ccd0d4;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;