// кнопка
.btn {
    position: relative;
    cursor: pointer;
    border: solid 2px transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background: $neutral-regular;
    padding: rem(16px) rem(48px);
    color: #000;

    font-family: $accentFont;
    line-height: 1;
    font-size: rem(24px);
    text-transform: uppercase;
    font-weight: 500;
    border-radius: rem(50px);
    transition: all .1s ease;
    $parent: &;

    &:active {
        transform: scale(0.96);
    }

    &--primary {
        background: $primary-color;
        color: #fff;

        &:hover {
            background: darken($primary-color, 5%);
            color: #fff;
        }
    }

    &--warning {
        background: $warning-color;
        color: #fff;

        &:hover {
            background: lighten($warning-color, 5%);
            color: #fff;
        }
    }

    &--line-warning {
        background: transparent;
        border: solid 2px $warning-color;

        &:hover {
            background: $warning-color;
        }
    }

    &--line-white {
        background: transparent;
        border: solid 2px #fff;
        color: #fff;

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    &--line-gray {
        background: transparent;
        border: 2px solid #e0e3e8;

        &:hover {
            background: #e0e3e8;
        }
    }

    &--i-user {
        align-items: center;

        &:before {
            content: '';
            width: 15px;
            height: 19px;
            display: block;
            background: svg-load("../icons/man-user.svg", fill=#fff);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
    }

    &--i-next {
        align-items: center;

        &:after {
            content: '';
            width: 9px;
            height: 13px;
            display: block;
            background: svg-load("../icons/next.svg", fill=#fff);
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 10px;
        }
    }

    &--full {
        width: 100%;
    }

    &--small {
        border-radius: rem(12px);
        font-size: rem(18px);
        padding: rem(9px) rem(35px);
        font-weight: 700;
    }

    &--color-dark {
        color: #000;

        &:hover {
            color: #000;
        }
    }

    &.disabled {
        border: 1px solid $neutral-regular;
        background-color: $neutral-regular;

        cursor: default;
        pointer-events: none;
    }
}