// header style

.header {
    padding: rem(45px) rem(80px);
    background: url('/assets/images/header.png') center top no-repeat #001a36;
    background-size: 100%;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: #fff;
        font-family: $accentFont;
    }

    .menu-button {
        display: none;
        margin-left: 0;

        @media (max-width: $desktop) {
            display: flex;
        }
    }

    &__logo {
        width: rem(165px);
        display: block;
        margin-right: rem(30px);

        img {
            display: block;
            max-width: 100%;
        }
    }

    .language {
        margin: 0 rem(60px) 0 auto;

        @media (max-width: 1300px) {
            margin: 0 rem(30px) 0 auto;
        }
    }

    &__buttons {
        margin: -5px;

        &>* {
            margin: 5px;
        }

        .btn {
            font-size: rem(12px);
            padding: rem(15px) rem(20px);
            font-weight: 700;
            font-family: $mainFont;
            letter-spacing: 1px;

            &--line-warning {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__left,
    &__right {
        width: 20%;
        display: flex;
        align-items: center;

        @media (max-width: $desktop-xl) {
            width: auto;
        }
    }

    &__center {
        position: relative;
        margin: rem(8px) auto 0;
    }

    &__help-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 rem(-15px) rem(10px);
        position: absolute;
        bottom: 100%;
        right: 0;
        left: 0;

        li {
            margin: 0 rem(15px);

            &.active {
                a {
                    color: $warning-color;
                }
            }
        }

        a {
            font-size: rem(10px);
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: rem(0.6px);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            display: inline-block;
        }
    }

    @media (max-width: $desktop-xl) {
        padding: rem(45px) 30px;
    }

    @media (max-width: $desktop) {
        padding: 15px !important;

        &__center {
            display: none;
        }
    }

    @media (max-width: $phone) {

        &__buttons {
            display: none;
        }
    }
}