.container {
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;

    @media (max-width: $desktop) {
        max-width: $tablet;
    }

    @media (max-width: $tablet) {
        max-width: 100%;
    }

    @media (max-width: $phone) {
        padding: 0 15px;
    }
}

.h-full {
    height: 100%;
}

.l-section {
    padding: 0;
    margin: 0 0 rem(40px) 0;

    &--bordered {
        .container {
            padding-bottom: rem(40px);
            position: relative;

            &:after {
                content: "";
                height: 2px;
                background: #000;
                left: 30px;
                right: 30px;
                display: block;
                position: absolute;
                top: 100%;
            }
        }
    }

    &:first-of-type {
        margin-top: rem(40px);
    }

    &:last-child {
        margin-bottom: rem(60px);
    }
}

.l-form {
    background-image: linear-gradient(to top, #001326 0%, #002e5c 100%);
    color: #fff;
    border-radius: rem(12px);
    padding: rem(40px) rem(50px);

    @media (max-width: $phone) {
        padding: rem(40px) rem(30px);
    }

    .field {
        label {
            font-size: 14px;
        }

        input,
        textarea {
            background: #fff;
            border-color: transparent;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: rem(24px);
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: 0.96px;
        font-family: $accentFont;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

.trade-status {
    position: relative;
    display: flex;
    align-items: center;

    &--up {
        &:before {
            content: "";
            width: 17px;
            height: 17px;
            display: block;
            margin-right: 10px;
            background: url("../images/c-arrow.png") center no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }
    }

    &--down {
        &:before {
            content: "";
            width: 17px;
            height: 17px;
            display: block;
            margin-right: 10px;
            background: url("../images/c-arrow2.png") center no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }
    }
}

.buy-sell {
    .btn {
        width: 100%;
    }

    .field {
        label {
            color: #aeb6bf;
            font-size: 14px;
            font-weight: 500;
            font-family: $accentFont;
        }

        input,
        textarea,
        select {
            height: 35px;
            background: #eff1f3;
            border-color: #eff1f3;

            &:hover {
                border-color: darken(#eff1f3, 5%);
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: $accentFont;
        margin-top: 30px;
        font-size: 13px;
        font-weight: 700;

        &>* {
            margin: 5px;
        }
    }
}

.s-table {
    color: #001326;
    $parent: &;
    white-space: nowrap;

    &__th {
        border-bottom: 2px solid #a4a9ad;
        text-transform: uppercase;
        color: #a3a6aa;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.64px;
        font-family: $accentFont;
        margin-bottom: 10px;
    }

    &__th,
    &__td {
        padding: 7px 10px;
        position: relative;
        z-index: 2;
        flex-grow: 1;
        width: 33.3333%;
        line-height: 1.3;
        font-size: 14px;

        @media (max-width: $tablet) {
            font-size: 11px;
            padding: 5px 5px;

            @media (max-width: $phone) {
                font-size: 10px;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            //text-align: right;
        }
    }

    &__indicator {
        height: 100%;
        display: block;
        position: absolute;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
    }

    &__tr {
        position: relative;
        display: flex;
        align-items: center;
    }

    &--gray {
        #{$parent}__indicator {
            background: #d3dbe4;
        }
    }
}

.summary-module {
    .b-top {
        margin-bottom: 10px;
    }

    .filter {
        margin-top: 12px !important;
    }
}

.graph {
    background: #f0f1f4;
    height: 100%;
    border-radius: rem(12px);
    //overflow: hidden;
    padding-bottom: 28px;

    .amChartsInputField {
        height: 27px;
        font-size: 12px;
        border-radius: 13px;
        border: 1px solid #a7b8c9;
        margin-top: 3px;

        @media (max-width: $desktop-lg) {
            display: none !important;
        }
    }

    .overflow-table {
        //height: 388px;
        width: 100%;
    }

    .amChartsButton,
    .amChartsButtonSelected {
        border-radius: 1.1875rem;
        display: inline-block !important;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.6875rem;
        color: #000;
        padding: 0.4375rem 0.625rem;
        cursor: pointer;
        margin: 2.5px;
    }

    .amChartsButtonSelected {
        border-color: $warning-color;
        background: transparent;
        color: #aeb6bf;
    }

    .amcharts-panels-div {
        padding-left: 10px;
        padding-right: 10px;
    }

    .amcharts-period-selector-div {
        border-bottom: 2px solid #fff;
        margin-bottom: 10px;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 11px;
        font-family: $accentFont;
        font-weight: 700;

        @media (max-width: $desktop-lg) {
            font-size: 0;
        }

        fieldset {
            vertical-align: top;
        }
    }

    img {
        display: block;
        width: 100%;
    }

    @media (max-width: $desktop) {
        margin-top: 30px;
        height: auto;

    }

    @media (max-width: 500px) {
        margin-bottom: 30px;

    }
}

.buy-sell-section {
    background: #eff1f3;

    .column {
        padding: 45px 3rem;

        &:first-child {
            border-right: solid 3px #fff;
        }

        @media (max-width: $tablet) {
            padding: 30px 1.5rem;

            @media (max-width: $phone) {
                padding: 15px 1.5rem;
            }
        }
    }
}

.l-block {
    border-radius: rem(12px);
    border: 3px solid rgba(#a7b8c9, 0.5);
    padding: rem(25px) rem(30px);
    margin-bottom: rem(30px);

    &--orders {
        min-height: calc(100% - 86px);
        padding: rem(10px) rem(30px);

        @media (max-width: $phone) {
            min-height: auto;
        }

        table.dataTable {
            font-size: 12px;
        }
    }

    &--not-border {
        border: none;
        padding: 0;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_paginate,
    .dataTables_info {
        display: none !important;
    }

    .pair {
        font-size: rem(16px);

        @media (max-width: $desktop) {
            font-size: rem(14px);
        }
    }

    table.dataTable {
        color: #1a2c3e;

        thead {
            th {
                padding-bottom: 1em;
                font-weight: 700;
                font-family: $accentFont;
                color: rgba(#1a2c3e, 0.6);
                border-bottom: 1px solid #000;
            }
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 20px !important;
                    }
                }
            }
        }

        &.table--small {
            font-size: 11px;
        }
    }

    &__title {
        font-size: rem(15px);
        text-transform: uppercase;
        font-weight: 700;
        color: #1a2c3e;
        font-family: $accentFont;
    }

    &--trading {
        table.dataTable {
            tbody {
                td {
                    font-size: 15px;

                    strong {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &--dark {
        background: #001227;
        border-color: #001227;
        color: #fff;

        table.dataTable {
            color: #fff;

            thead {
                th {
                    color: #fff;
                    border-bottom: 1px solid #414952;
                }
            }

            tbody {
                td {
                    border-bottom: 1px solid #414952;
                }
            }
        }

        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_processing {
            color: #fff;
        }
    }
}

.b-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -5px;
    margin-bottom: rem(15px);

    &>* {
        margin: 5px;
    }

    &__title {
        text-transform: uppercase;
        font-size: rem(20px);
        font-weight: 700;
        font-family: $accentFont;
        margin-right: 30px;

        span {
            font-weight: 500;
        }

        @media (max-width: $phone) {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
            margin-right: 0;
        }
    }

    .filter {
        margin: -5px;

        .radio-button {
            span {
                font-size: rem(11px);
                color: rgba(#001326, 0.6);
                padding: rem(7px) rem(10px);
            }
        }

        @media (max-width: $phone) {
            width: 100%;
            margin: 0;
        }
    }

    &__links {
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;
        font-family: $accentFont;

        a {
            margin-left: 15px;
            color: rgba(#001326, 0.5);

            &:hover {
                color: rgba(#001326, 0.8);
            }
        }

        @media (max-width: 1300px) {
            a {
                margin-left: 10px;
                font-size: 10px;
            }
        }

        @media (max-width: $phone) {
            text-align: center;
            width: 100%;
            margin-top: 0;
        }
    }
}

.js-swiper {
    overflow-x: visible;
}

.trading-info {
    background: #e0e3e8;
    padding: 5px 0;
    margin-top: 0 !important;
    font-size: rem(14px);
    color: #001326;
    line-height: 1.2;

    .select-wrapper {
        width: 180px;

        select {
            width: 100%;
        }

        &:after {
            width: 13px;
            height: 10px;
        }
    }

    select {
        height: 30px;
        padding: 0 28px 0 10px !important;
        border-radius: 15px;
    }

    .glider-slide {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;

        &>* {
            margin: 10px;
        }

        @media (max-width: $desktop) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    @media (max-width: $phone) {
        &__name {
            display: block;
        }

        &__row {
            &>div {
                width: 100%;
            }
        }

        .glider-slide {
            padding: 0 5px;
            justify-content: center;
            text-align: center;
        }

        // .container {
        //     width: 100%;
        //     max-width: 100%;
        //     padding: 0;
        // }
    }
}

.status-checked {
    width: 16px;
    height: 12px;
    display: block;
    background: svg-load("../icons/check.svg", fill=#4f749a);
    background-size: contain;
    background-repeat: no-repeat;

    &--true {
        background: svg-load("../icons/check.svg", fill=#ff9400);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.small-buttons {
    margin: -2.5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;

    .btn {
        padding: rem(7px) rem(8px);
        font-size: 11px;
        border-radius: 6px;
        font-weight: 700;

        &--gray {
            background: #d3dbe4;

            &:hover {
                background: $warning-color;
            }
        }

        @media (max-width: $phone) {
            font-size: 9px !important;
            padding: rem(7px) rem(6px);
        }
    }

    &>* {
        margin: 2.5px;
    }
}

.datatable-module {
    white-space: nowrap;

    .dataTables_length,
    .dataTables_filter {
        display: none !important;
    }

    &--small {

        .dataTables_info,
        .dataTables_paginate {
            display: none !important;
        }

        table {
            thead {
                th {
                    font-size: 12px;
                    text-align: left;
                    padding: 10px 3px !important;
                    border-color: #e2e2e2 !important;

                    @media (max-width: $phone) {
                        font-size: 11px;
                    }
                }
            }

            tbody {
                td {
                    border: none;
                    padding: 10px 3px !important;
                    font-weight: 400;
                    font-size: 13px;
                    border-bottom: 1px solid #e0e3e8;

                    @media (max-width: $phone) {
                        font-size: 11px;
                    }
                }
            }
        }
    }

    &--summary {
        .dataTables_scrollBody {
            height: 330px;
        }
    }

    &--lk {
        table {
            margin-bottom: 20px;
            border-bottom: 1px solid #000;

            @media (max-width: $phone) {
                margin-bottom: 0;
            }

            thead {
                th {
                    letter-spacing: 1.16px;
                    text-transform: uppercase !important;
                    border-bottom: 1px solid #000 !important;
                    padding: 10px 5px !important;
                    font-size: 11px;
                    color: rgba(#1a2c3e, 0.6) !important;
                }
            }

            tbody {
                td {
                    border: none;
                    padding: 10px 5px !important;
                    font-weight: 400;
                    font-size: 12px;

                    &:first-child {
                        padding-left: 0 !important;
                    }

                    &:last-child {
                        padding-right: 0 !important;
                    }
                }

                tr {
                    &:first-child {
                        td {
                            padding-top: 25px !important;
                        }
                    }

                    &:last-child {
                        td {
                            padding-bottom: 25px !important;
                        }
                    }
                }
            }
        }
    }

    .dataTables_info {
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        width: auto;
        order: 2;
        font-size: 11px;
        text-transform: uppercase;
        font-family: $accentFont;
        letter-spacing: 1.16px;
    }

    .dataTables_paginate {
        display: inline-flex;
        vertical-align: top;
        width: auto;
        order: 1;
        margin-right: 20px;
    }

    .paginate_button {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d3dbe4;
        cursor: pointer;
        font-size: 11px;
        font-weight: 700;
        margin-right: 0;

        &.current {
            background: $warning-color;
            color: #000;
        }

        &.next,
        &.previous {
            display: none;
        }
    }
}

.fiat-balance {
    display: flex;
    border-radius: rem(12px);
    border: 3px solid rgba(#a7b8c9, 0.5);
    font-family: $accentFont;
    line-height: 1;

    .small-buttons {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__icon {
        img {
            display: block;
            margin: 0 auto;
        }

        margin-bottom: 20px;

        @media (max-width: $phone) {
            img {
                width: 60px;
            }
        }
    }

    &__subtitle {
        font-size: 9px;
        font-weight: 500;
        color: #bdbfc3;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 6px;
        letter-spacing: 0.37px;
    }

    &__list {
        li {
            margin-bottom: 10px;
        }
    }

    &__count {
        font-size: 21px;
        font-weight: 700;
        color: #bdbfc3;

        &.color-warning {
            color: $warning-color;
        }

        @media (max-width: $phone) {
            font-size: 17px;
        }
    }

    &__name {
        font-size: 21px;
        font-weight: 700;
        color: #001326;
        display: inline-block;
        text-transform: uppercase;
        border-bottom: 3px solid #e0e3e8;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: $phone) {
            font-size: 17px;
        }
    }

    &__item {
        width: 33.333%;
        border-right: 1px solid rgba(#a7b8c9, 0.5);
        text-align: center;
        padding: 20px 0px;

        &:last-child {
            border: none;
        }
    }

    @media (max-width: $tablet-sm) {
        margin-bottom: 30px;
        height: auto;
    }
}

.exchange {
    padding-top: rem(40px);

    @media (max-width: $phone) {
        text-align: center;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;

        @media (max-width: $phone) {
            margin-bottom: 15px;
        }
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: rem(45px);
        margin-left: rem(-30px);
        margin-right: rem(-30px);

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $phone) {
            flex-wrap: wrap;
        }
    }

    &__link {
        text-transform: uppercase;
        color: $warning-color;
        font-size: rem(21px);
        font-weight: 700;
        text-decoration: underline;
        letter-spacing: 0.8px;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }

        @media (max-width: $desktop) {
            font-size: rem(16px);
        }

        @media (max-width: $phone) {
            margin-bottom: 10px;
            display: block;
        }
    }

    .typography {
        font-size: 14px;
    }

    &__col {
        width: 60%;
        padding: 0 rem(30px);
        position: relative;

        @media (max-width: $tablet) {
            width: 50%;

            @media (max-width: $phone) {
                width: 100%;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 3px;
            background: #e0e3e8;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            height: 65px;
            position: absolute;

            @media (max-width: $phone) {
                display: none;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            width: 20%;

            @media (max-width: $tablet) {
                width: 25%;

                @media (max-width: $phone) {
                    width: 100%;
                }
            }
        }

        &:nth-child(2) {
            text-align: center;
        }
    }
}