html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;

    @media (max-width: $desktop) {
        font-size: 16px;
    }

    @media (max-width: $tablet) {
        font-size: 14px;
    }

    @media (max-width: $phone) {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.overflow-bg {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section,
.section {
    position: relative;
    padding: rem(90px) 0;
    opacity: 0;
    transition: transform 1s ease,
        opacity 1s ease;

    &.active {
        opacity: 1;
    }

    @media (max-width: $phone) {
        padding: rem(60px) 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}


.text-center {
    text-align: center;
}

///////////

.menu-button {
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 30px;
        height: 23px;
        display: block;
        position: relative;
        margin: 0px;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            background: #fff;

            &:nth-child(1) {
                top: 0px;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 10px;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 20px;
                transform-origin: left center;
            }
        }

        &.open span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 0px;
                left: 8px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 21px;
                left: 8px;
            }
        }
    }
}

.mobile-menu {
    display: none;
    z-index: 790;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    a {
        text-decoration: none;
    }

    &__nav {
        overflow: auto;
        max-height: calc(100% - 60px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        ul {
            margin-bottom: 15px;
            width: 100%;

            li {
                a {
                    display: block;
                    padding: 15px;
                    font-size: 18px;
                    color: #000;
                    border-bottom: 1px solid rgb(221, 228, 239);
                }

                &.active {
                    a {
                        color: $warning-color !important;
                    }
                }
            }

            &.links {
                width: 50%;

                li {
                    a {
                        font-size: 15px;
                        border: none;
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    &__buttons {
        background: #022244;
        position: relative;
        z-index: 2;

        .header__buttons {
            display: flex !important;
            padding: 10px 0;
        }
    }

    @media (max-width: $desktop) {
        &.open {
            display: block;
        }
    }
}

@mixin tableStyle() {
    .btn {
        font-size: 15px;
        padding: rem(6px) rem(13px);
        //border: none;
    }

    .dataTable-wrapper.no-footer .dataTable-container {
        border: none !important;
    }

    table {
        font-size: 14px;

        thead td,
        thead th,
        tbody td,
        tbody th {
            padding-top: rem(15px) !important;
            padding-bottom: rem(15px) !important;
            text-transform: none !important;
        }

        thead th {
            border: none;
            border-bottom: 2px solid #4b6e93 !important;
            font-family: $accentFont;
            font-weight: 700;
            font-size: rem(14px);
            line-height: 1.3;
            letter-spacing: normal;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 10px;
            }
        }

        tbody td {
            border: none;
            border-bottom: 1px solid #e2e2e2;
            font-weight: 300;
            vertical-align: middle !important;
            line-height: 1.3;
            font-size: rem(14px);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 10px;
            }
        }

        tr {
            width: 100%;

            &:last-child {
                td {
                    border: none;
                }
            }
        }


    }
}

.status {
    font-weight: 700;

    &--gray {
        color: #4f749a;
    }

    &--green {
        color: $success-color;
    }

    &--orange {
        color: $warning-color;
    }

    &--red {
        color: #ee0000;
    }

}

.radio-button {
    display: block;
    cursor: pointer;
    user-select: none;

    span {
        border-radius: rem(19px);
        display: block;
        background-color: #f0f1f6;
        border: solid 1px #f0f1f6;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(16px);
        line-height: 1;
        padding: rem(10px) rem(25px);

        &:hover {
            border-color: $border-base;
        }
    }

    &--star {
        span {
            padding: rem(5px) rem(5px) !important;

            &:before {
                content: '';
                display: block;
                background: svg-load("../icons/star.svg", fill=#66717d);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
            }
        }

        input {
            &:checked+span {
                background: $warning-color !important;

                &:before {
                    background: svg-load("../icons/star.svg", fill=#fff);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    input {
        display: none;

        &:checked+span {
            background: transparent;
            border-color: $warning-color;
        }
    }
}

.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;

    @media (max-width: $tablet) {
        width: 100%;
        margin: 0;
    }

    &__search {
        position: relative;

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            background: svg-load("../icons/search.svg", fill=#a6b7c8);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        @media (max-width: 1395px) {
            width: calc(100% - 15px);
        }

        input {
            height: 27px;
            font-size: 12px;
            padding-left: 15px;
            border-radius: 13px;
            padding-right: 30px;
            width: 125px;
            border: 1px solid #a7b8c9;

            @media (max-width: 1395px) {
                width: 100%;
            }
        }
    }

    select {
        background: #eff1f3;
        text-transform: uppercase;
        color: rgba(#001326, 0.5);
        border-radius: 15px;
        font-family: $accentFont;
        font-weight: 700;
        font-size: 11px;
        letter-spacing: 0.44px;
        padding: 6px 8px;
    }

    &>* {
        margin: 5px;
    }
}

.pair {
    display: flex;
    align-items: center;
    $parent: &;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }

    img {
        height: 100%;
        display: block;
    }

    &--small {
        #{$parent}__icon {
            width: 20px;
            height: 20px;
        }
    }
}

.dataTables_scroll {
    width: 100%;
}

.dataTables_scrollBody {
    height: 500px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

.dataTables_scrollBody {
    //overflow: hidden !important;

    thead {
        display: none;
    }
}

.datatable-module {
    @include tableStyle();
}

.pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: solid 2px #000;
    border-radius: rem(30px);
    overflow: hidden;

    &-wrap {
        text-align: center;
    }

    a {
        font-weight: 700;
        color: #000;
        font-size: rem(17px);
        line-height: 1;
        padding: rem(15px) rem(20px);

        &:first-child {
            padding-left: rem(30px);
        }

        &:last-child {
            padding-right: rem(30px);
        }

        &:hover {
            background: $border-base;
        }

        &.active {
            color: #fff;
            background: $warning-color;
        }
    }
}

.warning-list {
    padding-left: 0;
    margin-bottom: 2em;
    font-size: rem(16px);

    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        line-height: 1.2;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "";
            width: 14px;
            height: 2px;
            display: block;
            background: $warning-color;
            position: absolute;
            top: 0.5em;
            left: 0;
        }
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: #052e5c;
        text-decoration: none;
        font-family: $accentFont;

        &:hover {
            text-decoration: underline;
        }
    }
}

// colors
.color {
    &-warning {
        color: $warning-color;
    }

    &-light {
        color: #aeb6bf;
    }
}


//
[data-accordion="content-container"] {
    height: 0;
    overflow: hidden;
    transition: all 0.1s linear;
}

.accordion {
    padding: 0;
    margin: 0 auto;
    border: $border-base;
    list-style-type: none;
    border-top: 1px solid $border-base;

    &__item {
        &:not(:first-child) {
            border-top: $border-base;
        }
    }

    &__trigger {
        display: block;
        position: relative;
        padding: rem(25px) 0;
        line-height: 1.3;
        font-size: rem(24px);
        text-transform: uppercase;
        text-decoration: none;
        color: #001326;
        font-weight: 300;
        border-bottom: 1px solid $border-base;
        cursor: pointer;
        user-select: none;
        padding-left: rem(100px);

        @media (max-width: $desktop) {
            padding-left: rem(60px);
        }

        @media (max-width: $tablet) {
            font-size: rem(18px);
        }

        @media (max-width: $phone) {
            padding-left: rem(40px);
            font-weight: 400;
        }

        &:hover {
            color: $warning-color;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 10px;
            content: "";
            width: 15px;
            height: 29px;
            background: svg-load("../icons/arrow.svg", fill=#bec3c7);
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(-90deg) translateX(100%);
        }

        &.is-collapsed {
            border-color: transparent;

            &::after {
                transform: translateY(-50%) rotate(180deg);
                background: svg-load("../icons/arrow.svg", fill=#f2930b);
            }
        }
    }

    &__content {
        padding: rem(10px) 0 rem(20px) rem(100px);

        @media (max-width: $desktop) {
            padding-left: rem(60px);
        }

        @media (max-width: $phone) {
            padding-left: 0;
        }
    }
}

//