@mixin item-icon() {
  width: rem(135px);
  height: rem(135px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  img {
    width: rem(60px);
  }
}

@mixin itemTitle() {
  text-transform: uppercase;
  font-weight: 700;
  color: $primary-color;
  font-family: $accentFont;
  margin-bottom: rem(15px);

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: $desktop;

  @media (max-width: $desktop) {
    max-width: $tablet;
  }

  @media (max-width: $tablet) {
    max-width: 100%
  }

  @media (max-width: $phone) {
    padding: 0 15px;
  }
}

.s-title {
  font-size: rem(30px);
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 700;
  color: #1a3a63;
  font-family: $accentFont;
  text-align: center;

  &--lines {
    font-weight: 700;

    span {
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        width: 9999px;
        height: 2px;
        background: #1a3a63;
        display: block;
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: 30px;
      }

      &:after {
        content: "";
        width: 9999px;
        height: 2px;
        background: #1a3a63;
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 30px;
      }
    }
  }
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: rem(45px);
  line-height: 1.3;
  color: #001326;
  letter-spacing: rem(0.9px);
  font-weight: 500;
  font-family: $accentFont;

  @media (max-width: $phone) {
    font-size: rem(36px);
  }
}

.breadcrumbs {
  border-bottom: 1px solid $warning-color;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: rem(0.2px);
  font-family: $accentFont;
  font-weight: 500;

  a {
    @extend .link;
  }

  .container {
    overflow-x: auto;
    width: 100%;

    &>* {
      margin: 0 rem(5px);
    }
  }
}

.menu-button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 30px;
    height: 23px;
    display: block;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      background: #fff;

      &:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 10px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 20px;
        transform-origin: left center;
      }
    }

    &.open span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
      }
    }
  }
}

.mobile-menu {
  display: none;
  z-index: 15;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;

  a {
    text-decoration: none;
  }

  &__nav {
    overflow: auto;
    max-height: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    ul {
      margin-bottom: 15px;
      width: 100%;

      li {
        a {
          display: block;
          padding: 15px;
          font-size: 18px;
          color: #000;
          border-bottom: 1px solid rgb(221, 228, 239);
        }

        &.active {
          a {
            color: $warning-color !important;
          }
        }
      }

      &.links {
        width: 50%;

        li {
          a {
            font-size: 15px;
            border: none;
            text-decoration: underline;
          }
        }
      }
    }

  }

  &__buttons {
    background: #022244;
    position: relative;
    z-index: 2;

    .header__buttons {
      display: flex !important;
      padding: 10px 0;
    }
  }

  @media (max-width: $desktop) {
    &.open {
      display: block;
    }
  }
}

.intro-steps {
  $parent: &;

  ul {
    display: flex;
    align-items: center;
  }

  &__name {
    font-family: $accentFont;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    color: #4d6f92;
    font-weight: 700;
    opacity: 0.5;
    margin-top: rem(20px);
    letter-spacing: 0.44px;
    white-space: nowrap;

    @media (max-width: $phone) {
      font-size: rem(12px);
    }
  }

  &__count {
    font-size: rem(24px);
    font-weight: 700;
    color: #4d6f92;

    @media (max-width: $phone) {
      font-size: rem(20px);
    }
  }

  li {
    display: flex;
    align-items: center;
    border-radius: rem(80px);
    padding: rem(15px) rem(20px);
    border: 2px solid #4f6377;
    line-height: 1;
    margin-right: rem(60px);
    cursor: pointer;
    position: relative;
    font-size: rem(13px);
    text-align: center;

    &:after {
      content: '';
      width: rem(60px);
      border-bottom: 4px dotted #4f6377;
      position: absolute;
      top: 50%;
      left: 100%;
      z-index: 0;

      @media (max-width: $phone) {
        width: rem(30px);
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:not(.active):hover {
      background: #4f6377;

      #{$parent}__count {
        color: #fff;
      }

      #{$parent}__name {
        color: lighten(#4d6f92, 10%);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-color: $warning-color;

      #{$parent}__name {
        position: relative;
        left: 0;
        transform: none;
        font-size: rem(18px);
        margin-left: 10px;
        top: 0;
        opacity: 1;
        color: #fff;
        margin-top: 0;
      }

      @media (max-width: $phone) {
        display: flex;
      }
    }

    @media (max-width: $phone) {
      margin-right: rem(30px);
      padding: rem(16px) rem(20px);
      display: none;
    }
  }
}

.intro-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 rem(120px);
  text-transform: uppercase;
  position: relative;

  &__accent-title {
    margin-bottom: rem(40px);
    line-height: 1;
    font-family: $accentFont;
    color: $warning-color;
    font-size: 16px;
    letter-spacing: 0.62px;
    font-weight: 700;

    @media (max-width: $desktop) {
      font-size: rem(16px);
    }
  }

  &__title {
    font-size: 37px;
    font-family: $accentFont;
    max-width: 580px;
    line-height: 1.4;
    margin-bottom: rem(60px);

    span {
      font-weight: 100;
    }

    @media (max-width: $desktop) {
      font-size: rem(37px);
    }
  }

  &__content {
    @media (max-width: $phone) {
      position: relative;
      z-index: 2;
    }
  }

  &__s-image {
    margin-left: rem(60px);

    @media (max-width: $phone) {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.1;
      margin: 0;
      max-width: 70%;
    }
  }

  @media (max-width: $desktop) {
    padding-top: rem(80px);
  }

  @media (max-width: $phone) {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }
}

.js-marquee {
  display: flex;
  align-items: center;
}

.ticker {
  &__item {
    padding: 40px 20px;
    font-weight: 300;
    font-size: rem(15px);
    letter-spacing: 0.8px;
    position: relative;
    margin: 0 15px;

    &:after {
      content: '';
      width: rem(15px);
      height: rem(12px);
      display: block;
      position: absolute;
      top: 50%;
      transform-origin: center;
      transform: translateY(-50%) rotate(-90deg);
      right: 0;
      background: svg-load("../icons/right-arrow.svg", fill=#009e13);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    span {
      color: $success-color;
      font-weight: 400;
    }

    &--red {
      span {
        color: $danger-color;
      }

      &:after {
        transform: translateY(-50%) rotate(90deg);
        transform-origin: center;
        background: svg-load("../icons/right-arrow.svg", fill=#b11a36);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.intro {
  padding-top: 0;
  padding-bottom: 0;
  background: url("/assets/images/intro.png") center no-repeat;
  background-size: cover;
  color: #fff;

  .ticker {
    border-top: 1px solid $warning-color;
  }

  .header {
    background: transparent;
  }

}

.events {
  background: $warning-color;
  padding: 10px 0;
}


// graph
.graph {
  img {
    display: block;
    max-width: 100%;
  }
}

.trading {
  &__table {
    height: 530px;

    @media (max-width: $phone) {
      height: 320px;
    }
  }
}

.rates {
  padding-bottom: 0;
}

.rates,
.trading {
  padding-top: 0;

  .dataTables_filter,
  .dataTables_length,
  .dataTables_info,
  .dataTables_paginate {
    display: none;
  }

  .filter {
    margin-bottom: rem(50px);
  }

  &__table {
    @include tableStyle();
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: rem(30px) auto -15px;
    width: 100%;

    &>* {
      margin: 15px;
    }
  }
}

// news
.news-intro {
  padding-top: 0;
  padding-bottom: rem(40px);
  color: #fff;
  font-family: $accentFont;

  &__wrap {
    display: block;
    overflow: hidden;
    border-radius: rem(15px);
    position: relative;

    &:after {
      content: "";
      width: 100%;
      height: 80%;
      background: linear-gradient(to bottom,
          rgba(7, 60, 75, 0) 0%,
          rgba(7, 60, 75, 1) 100%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    @media (max-width: $tablet-sm) {
      display: flex;
      flex-direction: column;

      &:after {
        display: none;
      }
    }
  }

  &__date {
    font-size: rem(16px);
    white-space: nowrap;
    color: #f9f9f9;
    margin: 0 0 0 rem(30px);
    flex-shrink: 0;

    @media (max-width: $tablet) {
      margin-left: 0;
      margin-top: rem(15px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: rem(31px);
    line-height: 1.3;
    font-weight: 500;
  }

  &__bottom {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 30px;
    right: 30px;
    padding: rem(30px) rem(70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(#fff, 0.2);

    @media (max-width: $tablet-sm) {
      position: relative;
      left: 0;
      right: 0;
      order: 2;
      background: $primary-color;
      padding: rem(30px);
    }

    @media (max-width: $phone) {
      flex-wrap: wrap;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.news-item {
  display: flex;
  color: #000;
  border-bottom: 1px solid $border-base;
  padding-bottom: rem(40px);
  padding-top: rem(40px);

  &__title {
    font-size: rem(25px);
    line-height: 1.4;
    font-family: $accentFont;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: rem(10px);
  }

  &__date {
    line-height: 1;
    font-size: rem(16px);
    font-family: $accentFont;
    opacity: 0.5;
    margin-bottom: 10px;
    color: #656e25;
  }

  &__buttons {
    margin-top: rem(20px);
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;

    &>* {
      margin: 10px;
    }
  }

  .btn {
    font-size: rem(14px);
    font-weight: 700;
    padding: rem(14px) rem(30px);

    &:hover {
      color: #fff;
    }
  }

  &__image {
    width: rem(344px);
    flex-shrink: 0;
    margin-left: rem(60px);
    margin-top: 5px;

    img {
      display: block;
      max-width: 100%;
    }

    @media (max-width: $tablet) {
      margin-left: rem(30px);
    }

  }

  @media (max-width: $phone) {
    flex-wrap: wrap;

    &__image {
      margin: 0 !important;
      width: 100%;
      order: -1;
      margin-bottom: 20px !important;

      img {
        width: 100%;
      }
    }
  }
}

.news-list {
  padding-top: 0;
  padding-bottom: 0;

  .news-item {
    &:first-child {
      padding-top: 0;
    }
  }
}

//

.content {
  padding-bottom: 0;
  padding-top: 0;
}

.page-title-section,
.pagination-wrap {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
}


.start {
  text-align: center;

  .container {
    overflow: hidden;
  }

  .s-title {
    margin-bottom: rem(60px);
  }

  &__buttons {
    margin: rem(-15px);

    &>* {
      margin: rem(15px);
    }
  }

  @media (max-width: $tablet) {
    .s-title {
      margin-bottom: rem(30px);
    }

    &__buttons {
      margin: rem(-5px);

      &>* {
        margin: rem(5px);
      }
    }
  }
}

.start-wrap {
  background: rgb(1, 44, 93);
  background: radial-gradient(circle,
      rgba(1, 44, 93, 1) 0%,
      rgba(0, 26, 55, 1) 100%);
  color: #fff;
  padding-top: rem(90px);
  padding-bottom: rem(90px);

  &__title {
    text-align: center;
    font-size: rem(37px);
    text-transform: uppercase;
    max-width: 730px;
    line-height: 1.4;
    font-family: $accentFont;
    font-weight: 700;
    margin: 0 auto;

    @media screen and (max-width: $phone) {
      font-size: rem(30px);
    }
  }

  .s-title {
    color: #fff;

    span {

      &:before,
      &:after {
        background-color: #fff;
      }
    }
  }

  .start {
    padding-bottom: 0;

    .btn {
      &--primary {
        background: #e0e3e8;
        color: $primary-color;

        &:hover {
          background: #fff;
        }
      }
    }
  }

  @media screen and (max-width: $phone) {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
}

//
.faq {
  padding-top: 0;
  padding-bottom: 0;
}

.refferal {
  padding-top: rem(30px);

  @media (max-width: $tablet) {
    padding-top: 0;
  }

  &__row {
    display: flex;

    @media screen and (max-width: $tablet-sm) {
      flex-wrap: wrap;
    }
  }

  .typography {
    font-size: 14px;

    p {
      text-align: justify;
    }
  }

  &__content {
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 490px;
    flex-shrink: 0;
    margin-left: rem(90px);

    @media (max-width: $desktop) {
      margin-left: rem(60px);
      max-width: 50%;
    }

    @media (max-width: $tablet-sm) {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

.advantages-item {
  display: flex;
  align-items: center;

  &__title {
    @include itemTitle();
  }

  &__desc {
    max-width: 380px;
    line-height: 1.5;
  }

  &__icon {
    @include item-icon();
    background-color: #e0e3e8;
    flex-shrink: 0;
    margin-right: rem(25px);
  }
}

.advantages {
  .s-title {
    margin-bottom: rem(60px);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(-90px);
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: $tablet) {
      margin-bottom: rem(-60px);
    }
  }

  &__col {
    width: 50%;
    margin-bottom: rem(90px);
    padding: 0 15px;

    @media (max-width: $phone) {
      width: 100%;
      margin-bottom: rem(60px);
    }
  }
}

.earn-item {
  text-align: center;

  &__title {
    @include itemTitle();
  }

  &__icon {
    @include item-icon();
    background-color: #fff;
    margin: 0 auto rem(20px);
    position: relative;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.5;
    max-width: 280px;
    margin: 0 auto;

    @media (max-width: $phone-xs) {
      font-size: 13px;
    }
  }
}

.s-icons {
  background: #e0e3e8;
  $parent: &;

  .s-title {
    margin-bottom: 60px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }

  .earn-item {
    &__icon {
      z-index: 2;
    }
  }

  &__col {
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;

    @media (max-width: $phone) {
      width: 100%;
    }
  }

  &--earn {
    #{$parent}__col {
      width: 25%;
      padding: 0 15px;
      margin-bottom: 30px;
      position: relative;

      @media (max-width: $tablet-sm) {
        width: 50%;

        &:nth-child(2) {
          &:after {
            display: none;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 27%;
        right: 0%;
        display: block;
        width: 130px;
        top: 65px;
        height: 9px;
        background: svg-load("../images/dots.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateX(50%) translateY(-50%);

        @media (max-width: $desktop) {
          width: 90px;
        }
      }

      &:nth-child(3) {
        &:after {
          height: 55px;
          background: svg-load("../images/dots-count.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.how-work {
  padding-bottom: 0;

  &__row {
    display: flex;
    align-items: center;

    @media (max-width: $tablet-sm) {
      flex-wrap: wrap;
    }
  }

  .typography {
    font-size: 14px;
    max-width: 340px;
    margin-bottom: rem(30px);

    @media (max-width: $tablet-sm) {
      margin: 0 auto rem(30px);
      max-width: 100%;
    }
  }

  .s-title {
    text-align: left;
    margin-bottom: 15px;

    @media (max-width: $tablet-sm) {
      text-align: center;
    }
  }

  &__image {
    width: 60%;
    flex-shrink: 0;

    img {
      display: block;
      max-width: 100%;
      margin-left: -10%;
    }

    @media (max-width: $tablet-sm) {
      margin: 0 auto rem(60px);

      img {
        margin: 0;
      }
    }

    @media (max-width: $phone) {
      width: 100%;
    }
  }

  &__content {
    padding-left: 60px;

    @media (max-width: $tablet) {
      padding-left: 0;
    }

    @media (max-width: $tablet-sm) {
      padding: 0;
      text-align: center;
      width: 100%;
    }
  }

  .warning-list {
    margin-left: -30px;
    margin-bottom: 0;

    @media (max-width: $tablet-sm) {
      a {
        text-decoration: underline;
      }

      li {
        &:before {
          display: none;
        }
      }
    }
  }
}

.event {
  color: #000;
  display: flex;
  align-items: center;
  padding: 15px 0;
  $parent: &;

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.3;
    margin-left: 30px;
  }

  &__date {
    text-align: center;
    flex-shrink: 0;

    span {
      font-size: 9px;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }

    big {
      font-size: rem(38px);
      display: block;
      font-weight: 400;
      font-family: $accentFont;
      line-height: 1;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
    }
  }

  &:hover {
    #{$parent}__title {
      text-decoration: underline;
    }
  }
}

.events {
  padding: 0;

  ul {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  li {
    flex-grow: 1;
    width: 33.333%;
    padding: 0 15px;

    @media (max-width: $phone) {
      width: 220px;
      flex-shrink: 0;
    }
  }
}

.course-item {
  display: flex;
  align-items: center;
  font-family: $accentFont;
  font-weight: 400;

  &>* {
    line-height: 1;
  }

  &__icon {
    flex-shrink: 0;
    width: 42px;
    margin-right: rem(15px);

    img {
      max-width: 100%;
      display: block;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__status {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    &--green {
      color: $success-color;
    }

    &--red {
      color: $danger-color;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: rem(18px);
    font-weight: 700;
  }

  &__desc {
    font-size: 10px;
  }
}

.s-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: svg-load("../icons/arrow.svg", fill=#000);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    background: svg-load("../icons/arrow.svg", fill=#f2930b);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &--next {
    transform: rotate(-180deg);
  }
}

.course-module {
  padding-top: rem(60px);
  padding-bottom: rem(60px);

  &__block {
    background: #e0e3e8;
    padding: rem(45px) rem(90px);
    border-radius: rem(100px);
    position: relative;

    .s-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--prev {
        right: 100%;
        margin-right: 30px;

        @media (max-width: $tablet) {
          margin-right: 5px;
        }
      }

      &--next {
        left: 100%;
        margin-left: 30px;
        transform: translateY(-50%) rotate(180deg);

        @media (max-width: $tablet) {
          margin-left: 5px;
        }
      }
    }

    .glider-track {
      width: 100%;
    }

    @media (max-width: $desktop-lg) {
      margin-left: 20px;
      margin-right: 20px;
    }

    @media (max-width: $tablet) {
      padding: rem(30px) rem(15px);
    }
  }

  .course-item {
    padding: 0 15px;
  }
}

//
.form-block {
  border-radius: 8px;
  background-image: linear-gradient(to right,
      #ffffff 0%,
      #ffffff 9%,
      #e8e8e8 99%,
      #e8e8e8 100%);
  max-width: 100%;
  width: 720px;
  padding: rem(30px) rem(80px);

  @media (max-width: $phone) {
    border-radius: 0;
    width: 100%;
    padding: rem(30px) rem(30px);
  }

  &__title {
    text-transform: uppercase;
    font-size: rem(31px);
    letter-spacing: 1.01px;
    font-family: $accentFont;
    font-weight: 400;
    margin-bottom: rem(30px);
  }

  .field {
    label {
      font-weight: 300;
      line-height: 1.3;
      text-transform: none;
      font-size: rem(16px);
    }

    input,
    textarea,
    select {
      background: #e4e4e4;
      height: 45px;
    }
  }

  .checkbox {
    margin: rem(40px) 0;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;

    &>* {
      margin: 15px;
    }
  }
}

.form-page {
  background: url("/assets/images/login-bg.jpg") center top no-repeat;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    width: 100%;
  }

  .header {
    background: transparent;

    &__center {
      display: none;
    }
  }

  &__content {
    margin: auto;
    padding: 60px;
  }

  @media (max-width: $tablet-sm) {
    display: block;
  }

  @media (max-width: $phone) {
    &__content {
      padding: 0px;
    }
  }
}